use auxiliary/scanner/ftp/ftp_version 
set rhosts 192.168.2.190
run
use auxiliary/scanner/ssh/ssh_version 
set rhosts 192.168.2.190
run
use auxiliary/scanner/telnet/telnet_version 
set rhosts 192.168.2.190
run
use auxiliary/scanner/http/http_version 
set rhosts 192.168.2.190
run
use auxiliary/scanner/mysql/mysql_login 
set rhosts 192.168.2.190
run
exit